.container {
	max-width: 1440px;
	margin: 0 auto;
}

.grid-5, .grid-6, .grid-7{
	float: left;
	display: block;
	min-height: 1px;
}

.grid-5 {
	width: calc(41.666% - 100px);
}
.grid-6 {
	width: calc(50% - 20px);
}
.grid-7 {
	width: calc(58.333% - 20px);
}


@media (max-width: 739px) {
	.grid-5, .grid-6, .grid-7 {
		width: 100%;
		float: none;
	}
}


















