/*RESET*/
body, h1,h2,p,span, input{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: ITCAvantGardeStd;
    src: url(../fonts/ITCAvantGardeStd-Bold.ttf);
}
  
body{
    font-family: ITCAvantGardeStd, Arial;
    font-weight: 100;
    line-height: 24px;
    background-color: #f5f8ff;
}

img{
    display: block;
    max-height: 100%;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
.pagination{
    display: none;
}

/*INPUT THEMER*/
.header{
    padding-top: 40px;
    padding-bottom: 20px; 
}
.header::after, .header::before{
    content: "";
    display: table;
    clear: both;
}
.input-theme{
    width: 88px;
    height: 40px;
    border-radius: 40px;
    float: right;
    position: relative;
    background: #a578ff;
    -webkit-appearance: none;
    outline: none;
 }
 .input-theme:checked {
    background: #a578ff;
 }
 .input-theme::before{
     content: "";
     position: absolute;
     width: 32px;
     height: 32px;
     top: 4px;
     left: 4px;
     background: #FFFFFF;
     border-radius: 40px;
     transition: .5s;
     
 }
 .input-theme:checked:before{
    content: "";
    left: 50px;
    top: 4px;
}
.input-theme:checked:after{
    content: "DARK";
    position: absolute;
    top: 13px;
    left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #f5f8ff;
}

 /*MAIN-CONTENT*/
 .main-container {
    margin: 0 60px;
    background-color: #f5f8ff;
}
.main-title {
   color: #a578ff;
   font-size: 30px;
   font-weight: bold;
}
.main-title::after{
    content: "";
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 10px;
    width: calc(100% -  120px);
    height: 2px;
    background: #a578ff;
}
.item-card{
    max-width: 390px;
    height: 433px;
    margin-bottom: 20px;
    transition: .5s;
}
.item-card:hover{
    box-shadow: 0 4px 8px 0 rgba(165, 120, 255, .5), 0 6px 20px 0 rgba(165, 120, 255, .5);
    border-radius: 4px;
    padding: 10px;
}
.item-card:nth-child(odd){
    margin-right: 40px;
}
.img-container{
    position: relative;
    justify-content: center;
    display: flex;
    background: #6d6f7d;
    max-width: 390px;
    height: 220px;
    overflow: hidden;
}
.item-card img{
    background: #282c34;
    align-self: center;
}
.main_noticias{
    display: inline-block;
     margin: 20px auto;
}

.like-content{
    position: relative;
}
.btn-like{
    color: red;
    cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    right: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
}
.btn-like:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    min-width: 70px;
    transition: 0.2s;
}
.qtd-like{
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial;
    font-weight: bold;
    padding: 5px;
    color: red;
    position: absolute;
    bottom: 12px;
    right: 11px;
}
.description{
    height: 180px;
    position: relative;
}
.description h2{
    color: #6d6f7d;
    font-size: 20px;
    line-height: 1.4;
    margin: 15px 0 10px 0;
    overflow-wrap: break-word;
    overflow: hidden;
    max-height: 60px;
}
.description p{
    color: #5f697c;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}
.description > p{
    overflow: hidden;
    height: 70px;   
}
.card-footer{
    bottom:0px;
    position: absolute;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-footer p{
 padding: 10px ;
 margin: 0px;
}


@media (max-width: 739px) {
    .container{
        padding: 20px 16px;
        margin: 0px;
    }
   .main-container{
       padding: 0px;
       margin: 0px; 
   }
   .main_noticias{
       display: block;
       overflow-x: scroll;
       overflow-y: hidden;
       white-space:nowrap;
       max-width: 350px;
       padding: 10px;
       margin: 20px auto 0px auto;
   }
    .main_noticias::-webkit-scrollbar { 
    display: none; 
    }   
   .pagination{
    display: block;
    max-width: 50px;
    margin: 0 auto;
   }
   .pages{
       display: inline-block;
       width: 8px;
       height: 8px;
       border-radius: 50%;
       background: rgba(165, 120, 255, .5);
   }
   .current-page{
    background: rgba(165, 120, 255, 1);
   }
    .item-card{
        background: #a578ff;
        height: 288px;
        max-width: 340px;
        display:inline-block;
        margin-right: 10px;
        margin-bottom: 0px;
     }
    .item-card:nth-child(odd) {
        margin-right: 10px;
    }
    .item-card:last-child{
        margin-right: 0px;
    }
    .item-card:hover{
        padding: 5px;
    }
    .img-container{
        height: 184px;
    }
    .description{
        height: 110px;
    }
    .description h2{
        font-size: 14px;
        color: #f5f8ff;
        padding: 15px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        overflow: hidden;
    }
    .description > p{
        display: none;
    }
    .card-footer{
      padding: 0px 25px;
      display: flex;
     justify-content: space-between;
     width: 100%;
    }
    .card-footer p{
    padding: 10px ;
    color: #f5f8ff;
    margin: 0px;
    }
}    



/*ASIDE-CONTENT*/
.aside-container{
    background: #F1F9FF;
    box-shadow: 0 4px 8px 0 rgba(165, 120, 255, .2), 0 6px 20px 0 rgba(165, 120, 255, .2);
}
.aside-item{
    max-width: 340px;
    margin: 110px 80px; 
    transition: .5s;
   
}
.aside-item:hover{
    box-shadow: 0 4px 8px 0 rgba(165, 120, 255, .5), 0 6px 20px 0 rgba(165, 120, 255, .5);
    border-radius: 4px;
    padding: 10px;
}
.img-sidebar{
    max-width: 340px;
    height: 200px;
    background: #282c34;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.aside-item img{
    max-width: 340px;
    align-self: center;
}
.aside-item h2{
    color: #6d6f7d;
    font-size: 20px;
    line-height: 1.3;
    padding: 15px 0 10px 0;
}
.aside-item p{
    color: #5f697c;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}



/*MEDIA QUERY ASIDE*/
@media (max-width: 739px) {
    .aside-content{
        margin-top: 25px;
    }
    .aside-content{
        margin-top: 25px;
        padding-bottom: 25px ;
    }
   .aside-item{
    margin: 15px auto;
    display: flex;
    background: #a578ff;
    }
    .aside-item:first-child{
        margin-top: 0px;
    }
    .aside-item:hover{
        padding: 0px;
    }
    .aside-item h2{
        display: none;
    }
    .aside-item p{
        max-width: 183px;
        max-height: 42px;
        margin: 25px;
        overflow: hidden;
        color: #f5f8ff;
        order: -1;
    }
    .like-content{
        display: none;
    }
    .img-sidebar{
        order: 1;
        width: 56px;
        height: 56px;
        margin: 25px;
    }
}



/*NIGHT MODE*/
.night-mode{
    background-color: #6d6f7d;
}
.night-mode h1, .night-mode h2, .night-mode p, .night-mode{
    color: #f5f8ff;
}

.night-mode .aside-container{
    background: #5f697c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.night-mode .img-sidebar, .night-mode .img-container{
    background: #5f697c;
}

.night-mode .item-card:hover, .night-mode .aside-item:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.night-mode .like-content{
    background: #6d6f7d;
}



