<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/Favicon.png">
    <title>🎉 Title</title>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
</head>
<body class="js-night-mode">
    <div class="container" >

        <main class="main-container grid-7 js-night-mode">
            <header class="header">
                <input class="input-theme" type="checkbox" name="checkbox" id="checkbox-night-mode" >
            </header>
            <h1 class="main-title">NEWS</h1>

            <div class="main_noticias">
              </div>

        </main>

        <aside class="aside-container grid-4">
            <article class="aside-item">
                <div class="img-sidebar">
                    <img src="http://static1.purebreak.com/articles/9/84/43/9/@/382494-purebreak-victime-d-un-vol-de-lettres-diapo-1.jpg" >
                    <div class="like-content">
                        <span class="btn-like">♥</span>
                        <span class="qtd-like">123</span>
                      </div>
                </div>
                <h2>Excepteur sint occaecat.</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </article>
            <article class="aside-item">
                <div class="img-sidebar">
                    <img src="https://lh3.ggpht.com/EbVaM635PBDHQWOzZV1EzFm6J_CbTCSqWJnJzKRpImvYN7E6h7gcHNcOnW4V1q8QvYQ=s100-rw" >
                    <div class="like-content">
                        <span class="btn-like">♥</span>
                        <span class="qtd-like">123</span>
                      </div>
                </div>
                <h2>Excepteur sint occaecat.</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </article>
            <article class="aside-item">
                <div class="img-sidebar">
                    <img src="https://www.iol.pt/multimedia/oratvi/multimedia/imagem/id/58a7505a0cf2b10cb6612521//" alt="" srcset="">
                    <div class="like-content">
                        <span class="btn-like">♥</span>
                        <span class="qtd-like">123</span>
                      </div>
                </div>
                <h2>Excepteur sint occaecat.</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </article>
            <article class="aside-item">
                <div class="img-sidebar">
                    <img src="https://www.iol.pt/multimedia/oratvi/multimedia/imagem/id/58a7505a0cf2b10cb6612521//" alt="" srcset="">
                    <div class="like-content">
                        <span class="btn-like">♥</span>
                        <span class="qtd-like">123</span>
                      </div>
                </div>
                <h2>Excepteur sint occaecat.</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </article>
            <article class="aside-item">
                <div class="img-sidebar">
                    <img src="https://www.iol.pt/multimedia/oratvi/multimedia/imagem/id/58a7505a0cf2b10cb6612521//" alt="" srcset="">
                    <div class="like-content">
                        <span class="btn-like">♥</span>
                        <span class="qtd-like">123</span>
                      </div>
                </div>
                <h2>Excepteur sint occaecat.</h2>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </article>
        </aside>
    </div>
    <script src="js/script.js"></script>
    
  
</body>

</html>